body {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 10px;
   color: #666666; 
   background-color: #FFFFFF;
}

#page {
    margin: 0 auto;
    padding: 0;
    width: 900px;
    min-width: 900px;
    text-align: left;               /* reset text align set above for IE */
}

#header {
   padding: 0px 10px 0px 10px;
   border: 1px #888888 dotted;
   background-color: #EEEEEE;
   background: url('images/cd.png') no-repeat top left;
}

#header h1 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 25px;
}

#header h3 {
   font-size: 12px;
   text-align: right;
}

p {
    color: #555555;
}

h3 a {
    text-decoration: none;
}

#main {
    width: 900px;
    padding: 5px 5px 5px 0px;
}

#menu {
    width: 100px;
    float: left;
    border: 1px #CCCCCC solid;
    padding: 0px 3px 3px 3px;
}
#content {
    width: 786px;
    float: right;
    padding: 0px 3px 3px 3px;
}
#content a {
    color: #888888;
}
#content a:hover {
    color: #ff6d06;
}

#footer {
    border: 1px dotted #CCCCCC;
}

#searchbox {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    width: 50%;
    border: 1px dotted #555555;
    background-color: #EEEEEE;
}

#addbox {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    width: 50%;
    border: 1px dotted #555555;
    background-color: #EEEEEE;
}

#adminbox {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    width: 50%;
    border: 1px dotted #555555;
    background-color: #EEEEEE;
}


.addbutton {
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    border: 0px;
    font-size: 0px;
    font-weight: bold;
    line-height: 28px;
    background: transparent url('images/add.png') no-repeat 0px 2px;
}

.imagelink {
    text-align: center;
}

.imagelink a {
    border: 0px;
    text-decoration: none;
    color: #888888;
}

.imagelink a:hover {
    color: #ff6d06;
}

.imagelink img {
    border: 0px;
}

#error {
    border: 1px dotted #FF0000;
    background-color: #FFEEEE;
    text-align: center;
}

#error p,
#error ul,
#error li {
    color: #FF0000;    
}

#message {
    border: 1px dotted #00FF00;
    background-color: #EEFFEE;
    text-align: center;
}

#message p,
#message ul,
#message li {
    color: #00FF00;
}


TEXTAREA {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #1D2829;
    background-color: #F5F6E7;
    border: 1px solid #57797C;
}

form input, form select {
    font-size: 11px;
    padding: 1px 3px;
    color: #1D2829;    
    background-color: #F5F6E7;
    border: 1px solid #57797C;
}

form input:hover {
    color: #000000;
}

table {
    border: 1px solid #CCCCCC;
    width: 100%;
    font-size: 10px;
}

table tr {
    border: 1px solid #CCCCCC;
}

table th {
    border: 1px solid #CCCCCC;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

table th.highlight {
    border: 1px solid #ff6d06;
}

table td {
/*    border: 1px solid #CCCCCC;*/
    padding: 0px;
    margin: 0px;
    text-align: center;
}

table a {
    color: #CCCCCC;
    text-decoration: none;
}

table a:hover {
    color: #ff6d06;
}

table.view {
    border: 1px solid #CCCCCC;
    width: 80%;
    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
    
}

table.view th {
    border: 1px dotted #CCCCCC;
    padding: 0px;
    margin: 0px;
    width: 30%;
}



#loginarea {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    width: 50%; 
    border: 1px dotted #555555;
    background-color: #EEEEEE;
}

.standards {
    text-align: center;
    border: 0px;
}

.standards a {
    border: 0px;
}

.standards a:hover {
    border: 0px;
}

.menuarea {
    text-align: center;
    border: 1px #CCCCCC dotted;
    width: 92px;
    background-color: #EEEEEE;
    margin: 3px 0px 0px 0px;
    padding: 3px;
}
